.header {
    width: 100vw;
    height: 70vh;
    min-height: 680px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, .7));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg {
    width: 100%;
    height: 680px;
    position: absolute;
    background: url("../assets/bg.svg");
    background-size: 100% auto;
}

.header_background {
    position: absolute;
    top: 0;
    z-index: 0;
}

.navbar {
    width: 70%;
    height: 15%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.navbar_menu {
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    font-size: calc(12px + 4 * (100vw / 1920));
    color: white;
}

.navbar_item_link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.navbar_phone_box {
    font-weight: 700;
    font-size: calc(18px + 6 * (100vw / 1920));
    color: white;
}

.burger_menu {
    display: none;
    background-color: transparent;
    border: 0;
    width: 30px;
    height: 27px;
    background-image: url("../assets/burger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.burger_phone {
    display: none;
    width: 25px;
    height: 28px;
    background-image: url("../assets/burgerPhone.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background: linear-gradient(180deg, #292929, #3C3C3C);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-in-out; /* Плавность выдвижения */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.menu.open {
    left: 0;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.close_button:hover {
    transform: rotate(90deg);
}

.navbar_menu_open {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 700;
    font-size: calc(12px + 4 * (100vw / 1920));
    color: white;
}

.navbar_menu_item_open {
    margin: 10px 0;
}

.navbar_item_link_open {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.navbar_phone_box_open {
    margin-top: 20px;
    font-weight: 700;
    font-size: calc(18px + 6 * (100vw / 1920));
    color: white;
}



.header_content {
    width: 79%;
    height: 85%;
    align-self: center;
    display: flex;
    justify-content: center;
}

.header_content_text {
    display: flex;
    width: 40%;
    height: fit-content;
    align-self: center;
    font-weight: 700;
    color: white;
    flex-direction: column;
}

.header_title {
    font-size: calc(20px + 32 * (100vw / 1920));
    margin-bottom: 5%;
}

.header_title_spec {
    color: #6600FF;
}

.header_explain {
    font-weight: 400;
    font-size: calc(14px + 10 * (100vw / 1920));
    margin-bottom: 20%;
}

.header_img_box {
    width: 50%;
    background-image: url('../assets/device.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media (max-width: 1519px) {
    .header_explain {
        margin-bottom: 10%;
    }
}

@media (max-width: 1469px) {
    .navbar {
        width: 90%;
    }
}

@media (max-width: 1149px) {
    .navbar {
        width: 100%;
    }
}


@media (max-width: 1319px) {
    .header_content {
        width: 100%;
    }
}

@media (max-width: 799px) {
    .navbar_phone_box, .navbar_item_link, .navbar_menu, .button_ui.nav {
        display: none;
    }

    .navbar {
        background: linear-gradient(to right, #292929, #3C3C3C);
        box-shadow: 0px 4px 20px 0px #00000033;
        width: 100%;
        height: 10%;
        min-height: 65px;
        justify-content: space-between;
        align-items: center;
    }

    .burger_menu, .burger_phone {
        display: block;
        cursor: pointer;
    }

    .burger_phone {
        margin-right: 4%;
    }

    .burger_menu {
        margin-left: 2%;
        z-index: 2;

    }

}


@media (max-width: 699px) {
    .header_content {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
    }

    .header_content_text {
        width: 95%;
        order: 2;
    }

    .header_title {
        font-size: calc(20px + 32 * (100vw / 1920));
        margin-bottom: 2%;
    }

    .header_explain {
        margin-bottom: 5%;
    }

    .header_img_box {
        height: 55%;
        width: 100%;
    }
}

@media (max-width: 449px) {
    .header_content_text {
        align-items: center;
        text-align: center;
        width: 100%;
        height: 40%;
    }
}


